h1,
p {
  font-family: Lato;
}
* {
  box-sizing: border-box;
}

.light,
.dark {
  padding: 15px;
  margin-bottom: 15px;
}

.light {
  background-color: rgb(238, 238, 238);
  color: rgb(7, 7, 7);
}
.dark {
  background-color: rgb(44, 44, 44);
  color: rgb(238, 238, 238);
}

.btn {
  background-color: rgb(238, 238, 238);
  padding: 15px;
}
